<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_practice"
        tools:targetApi="31" >

        <activity
            android:name=".recerseKtScreen.TreatHomeScreen"
            android:exported="false" />
        <activity
            android:name=".recerseKtScreen.TreatScreen"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.ImagePickerWithRv"
            android:exported="false" />
        <activity
            android:name=".custom_view.CustomViewPractice"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.ToastPractice"
            android:exported="false" />
        <activity
            android:name=".screens.tagB.PastReservationDetail"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.BottomNavigationPractice"
            android:exported="false" />
        <activity
            android:name=".dataBinding.DataBindingPractice"
            android:exported="false" />
        <activity
            android:name=".viewPager2.ViewvPagerPractice"
            android:exported="false" />
        <activity
            android:name=".listView.SimpleListView"
            android:exported="false" />
        <activity
            android:name=".recycler_view.RecyclerViewPractice"
            android:exported="false" />
        <activity
            android:name=".layoutPractice.FrameLayoutPractice"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.CustomDatePicker"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.CollapsingToolBarPractice"
            android:exported="false" />
        <activity
            android:name=".layoutPractice.CoordinatorLayout"
            android:exported="false" />
        <activity
            android:name=".layoutPractice.GridLayoutPractice"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.TopAppBar"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.TabLayoutPractice"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.CustomeSnackBar"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.FloatingActionButton"
            android:exported="false" />
        <activity
            android:name=".screens.SummaryScreen"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".screens.BudgetScreen"
            android:exported="false" />
        <activity
            android:name=".screens.BankSignInScreen"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.BankWelcomeScreen"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".screens.BankEcLaunchScreen"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.IncludePractice"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.CalendarView"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.ProgressBarTry"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.SpinnerPractice"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.Chips"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.ImageButton"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.SwitchTry"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.CheckBoxTry"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.EditText"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.ButtonPractice"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.AllWidgets"
            android:exported="true" />
        <activity
            android:name=".uiwidgets.textView"
            android:exported="true" />
        <activity
            android:name=".layoutPractice.ConstraintLayout"
            android:exported="false" />
        <activity
            android:name=".layoutPractice.RelativeLayout"
            android:exported="true" />
        <activity
            android:name=".layoutPractice.LayoutPractice"
            android:exported="true" />
        <activity
            android:name=".SecondActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>